<div class="found-listings__header">
    <p class="found-listings__header__title">
        <%= title.split(' | ')[1] === 'Saved listings'
                ? `${listings.length} saved listings`
                : `${listings.length} places in ${title.split(' | ')[1]}` %>
    </p>
    <% if (typeof showFilterButton !== 'undefined' && showFilterButton !== null && showFilterButton) { %>
        <div class="row">
            <% if (additionalFiltersApplied) { %>
                <a href="/listings/search?<%= new URLSearchParams({city, check_in, check_out, guests_count}) %>">
                    <button class="chip active border found-listings__header__reset-filters-button">Reset filters</button>
                </a>
            <% } %>
            <a
                    href="/listings/filter?<%= new URLSearchParams({
                city,
                check_in,
                check_out,
                guests_count,
                property_type: typeof property_type !== 'undefined' ? property_type : '',
                rooms_count_from: typeof rooms_count_from !== 'undefined' ? rooms_count_from : '',
                rooms_count_up_to: typeof rooms_count_up_to !== 'undefined' ? rooms_count_up_to : '',
                beds_count_from: typeof beds_count_from !== 'undefined' ? beds_count_from : '',
                beds_count_up_to: typeof beds_count_up_to !== 'undefined' ? beds_count_up_to : '',
                price_per_night_from: typeof price_per_night_from !== 'undefined' ? price_per_night_from : '',
                price_per_night_up_to: typeof price_per_night_up_to !== 'undefined' ? price_per_night_up_to : '',
                sort_order: typeof sort_order !== 'undefined' ? sort_order : '',
                amenities: typeof amenities !== 'undefined' ? amenities : ''
            }).toString() %>">
                <button class="chip active border found-listings__header__filter-button">
                    <i>tune</i>
                </button>
            </a>
        </div>
    <% } %>
</div>

<% if (listings.length > 0) { %>
    <div class="found-listings">
        <% listings.forEach(listing => { %>
            <a class="found-listings__item"
               href="/listings/<%= listing.id %>?nights=<%= nights %>&check_in=<%= check_in %>&check_out=<%= check_out %>&guests_count=<%= guests_count %>">
                <img src="<%= listing.imagePath %>" alt="Listing image" class="found-listing__image">
                <div class="found-listing__info">
                    <p class="font-size-20">
                        <%= listing.title.length > 23 ? `${listing.title.slice(0, 23).trim()}...` : listing.title %>
                    </p>
                    <p>
                        <%= listing.description.length > 60 ? `${listing.description.slice(0, 60).trim()}...` : listing.description %>
                    </p>
                    <p>Maximum guests: <%= listing.maximum_guests %></p>
                    <p class="font-size-16">
                        <span class="font-weight-bold">$<%= listing.price_per_night %></span> night
                        <% if (title.split(' | ')[1] !== 'Saved listings') { %>
                            &middot;
                            <% const totalPrice = listing.price_per_night * nights %>
                            <span
                                  class="found-listings__info__total-price"
                                  title="$<%= listing.price_per_night %> × <%= nights %> nights = $<%= totalPrice %>">
                                <span class="font-weight-bold">$<%= totalPrice %></span> total
                            </span>
                        <% } %>
                    </p>
                </div>
            </a>
        <% }) %>
    </div>
<% } else { %>
    <div class="found-listings__not-found">
        <p>No listings found for your search criteria.</p>
    </div>
<% } %>