<div class="listing-page-container">
    <div class="row space-between">
        <p class="listing-title"><%= listing.title %> | <%= listing.city %></p>
        <a class="listing-page__copy-container">
            <span>Copy listing URL</span>
            <i>content_copy</i>
        </a>
    </div>

    <div class="row space-between listings-page__second-row">
        <div class="carousel-container">
            <div class="carousel">
                <div class="carousel-images">
                    <% if (imagePaths.length > 0) { %>
                        <% imagePaths.forEach((imagePath, index) => { %>
                            <img src="<%= imagePath %>" alt="Listing image <%= index + 1 %>" class="<%= index === 0 ? 'active' : '' %>">
                        <% }); %>
                    <% } else { %>
                        <img src="/images/no-image.jpg" alt="No image available">
                    <% } %>
                </div>
                <% if (imagePaths.length !== 0) { %>
                    <button class="carousel-btn carousel-btn-prev">
                        <i class="arrow-back">arrow_forward_ios</i>
                    </button>
                    <button class="carousel-btn carousel-btn-next">
                        <i>arrow_forward_ios</i>
                    </button>
                <% } %>
            </div>
            <div class="carousel-indicators">
                <% if (imagePaths.length === 0) { %>
                    <div class="carousel-indicator active"></div>
                <% } else { %>
                    <% imagePaths.forEach((_, index) => { %>
                        <div class="carousel-indicator <%= index === 0 ? 'active' : '' %>"></div>
                    <% }); %>
                <% } %>
            </div>
        </div>


        <div class="listings-page__right-side-container">
            <div class="listings-page__right-side-container__rate-and-favorite">
                <div class="centred">
                    <i>star</i>
                    <span><%= listing.rating %> • <a class="listings-page__right-side-container__reviews-link">10 reviews</a></span>
                </div>
                <div class="centred">
                    <i id="favorite-icon" class="favorite-icon <%= isSaved ? 'saved' : '' %>">
                        <%= isSaved ? 'favorite_border' : 'favorite' %>
                    </i>
                </div>
            </div>

            <article class="border round listing-page__booking-container">
                <form action="/bookings/book" method="POST" class="listing-page__booking-form">
                    <div>
                        <h5>$<%= listing.price_per_night %> night</h5>
                        <div class="row">
                            <% let dateError = false;
                            if (typeof validationErrors !== 'undefined') {
                                dateError = validationErrors.find(err => err.path === 'check_in');
                            }%>
                            <div class="field border round label <%= dateError ? 'invalid' : ''%>">
                                <input type="date" id="check_in" name="check_in" value="<%= check_in %>" required>
                                <label for="check_in">Check-in</label>
                            </div>

                            <div class="field border round label <%= dateError ? 'invalid' : ''%>">
                                <input type="date" id="check_out" name="check_out" value="<%= check_out %>" required>
                                <label for="check_out">Check-out</label>
                            </div>
                        </div>
                        <% if (dateError) { %>
                            <p class="booking-form__validation-error-1"><%= dateError.msg %></p>
                        <% } %>

                        <% let guestsCountError = false;
                        if (typeof validationErrors !== 'undefined') {
                            guestsCountError = validationErrors.find(err => err.path === 'guests_count');
                        }%>
                        <div class="row">
                            <div class="field border round label <%= guestsCountError ? 'invalid' : ''%> booking-form__guests-count">
                                <input type="number" id="guests_count" name="guests_count" min="1" value="<%= guests_count %>" required>
                                <label for="guests_count">Number of guests</label>
                            </div>
                        </div>
                        <% if (guestsCountError) { %>
                            <p class="booking-form__validation-error-2"><%= guestsCountError.msg %></p>
                        <% } %>
                    </div>

                    <input type="hidden" name="listing_id" value="<%= listing.id %>">

                    <hr style="margin-top: 2rem">

                    <div>
                        <div class="row space-between">
                            <p id="total-price" class="font-size-20">
                                <% if (!Number.isNaN(listing.price_per_night * nights)) { %>
                                    $<%= listing.price_per_night * nights %> total
                                <% } %>
                            </p>
                            <button type="submit" class="booking-form__submit-button">Book</button>
                        </div>
                    </div>
                </form>
            </article>
        </div>
    </div>

    <div class="listings-page__bottom-container">
        <div>
            <a class="host-info-container" href="/users/<%= host.id %>">
                <div class="host__image"><%= host.first_name[0] %></div>
                <div>
                    <p>Hosted by:</p>
                    <p class="font-weight-bold"><%= host.first_name %> <%= host.last_name %></p>
                </div>
            </a>
            <p class="listings-page__bottom-container__description">
                <%= listing.description %> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ab dignissimos ex exercitationem in, molestias optio temporibus.
            </p>
            <p>
                <i class="bigger-icon">location_on</i>
                <%= `${listing.street} ${listing.house_number}, ${listing.postal_code} ${listing.city} ` %>
            </p>
            <p>
                <%
                let propertyIcon = '';
                switch (listing.property_type) {
                    case 'house':
                        propertyIcon = 'house';
                        break;
                    case 'apartment':
                        propertyIcon = 'apartment';
                        break;
                    case 'room':
                        propertyIcon = 'meeting_room';
                        break;
                    default:
                        propertyIcon = 'help';
                }
                %>
                <i class="bigger-icon"><%= propertyIcon %></i>
                Property type: <%= listing.property_type %>
            </p>
            <p>
                <i class="bigger-icon">open_with</i>
                Area: <%= listing.area ? `${listing.area} m²` : '—' %>
            </p>
            <p>
                <i class="bigger-icon">floor</i>
                Floor: <%= listing.floor ? listing.floor : '—' %>
            </p>
            <% if (listing.property_type !== 'room') { %>
                <p>
                    <i class="bigger-icon">meeting_room</i>
                    Rooms: <%= listing.rooms_count %>
                </p>
            <% } %>
            <p>
                <i class="bigger-icon">bed</i>
                Beds: <%= listing.beds_count %>
            </p>
            <p>
                <i class="bigger-icon">group</i>
                Maximum guests: <%= listing.maximum_guests %>
            </p>
        </div>
        <div class="listings-page__bottom-container__amenities">
            <p class="font-weight-bold included-amenities">Included amenities:</p>
            <% amenitiesFullList.forEach(amenity => { %>
                <% const isMissing = !listing.amenities.includes(amenity.id); %>
                <div class="listing-page__amenity <%= isMissing ? 'line-through' : '' %>">
                    <i><%= amenity.icon_name %></i>
                    <span><%= amenity.name %></span>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<div id="user-data"
     data-user-id="<%= user.id %>"></div>
<div id="listing-data"
     data-listing-id="<%= listing.id %>"
     data-listing-price_per_night="<%= listing.price_per_night %>"></div>